<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951641540412-68dlep0c2sbvftgl7q4jh0oainum4aru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951641540412-68dlep0c2sbvftgl7q4jh0oainum4aru</string>
	<key>API_KEY</key>
	<string>AIzaSyAxIt8d5SGm_bidvEsqzOH-Ms1KszcLXa0</string>
	<key>GCM_SENDER_ID</key>
	<string>951641540412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satimoto</string>
	<key>PROJECT_ID</key>
	<string>satimoto-mainnet</string>
	<key>STORAGE_BUCKET</key>
	<string>satimoto-mainnet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951641540412:ios:64e3b948d238b10154c039</string>
</dict>
</plist>